/* Карточки */
.add-project-section{
    padding-top: 120px;
}
.admin-form-card {
background: white;
border-radius: 1.3rem;
padding: 30px;
box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
margin-bottom: 30px;
border-top: 4px solid var(--secondary);
}

.section-title {
text-align: center;
margin-bottom: 1.5rem;
color: var(--primary);
font-size: 1.5rem;
position: relative;
padding-bottom: 10px;
}
.section-title::after {
content: "";
display: block;
width: 90px;
height: 4px;
margin: 12px auto 0;
background: var(--secondary);
border-radius: 2px;
} 

/* FROM COMMON */
/* .section-title {
text-align: center;
margin-bottom: 3.5rem;
color: var(--primary);
font-size: 2.6rem;
}

.section-title::after {
content: "";
display: block;
width: 90px;
height: 4px;
margin: 12px auto 0;
background: var(--secondary);
border-radius: 2px;
} */