/* Карточки */
.add-project-section{
    padding-top: 120px;
}
.add_project-card {
background: white;
border-radius: 1.3rem;
padding: 30px;
box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
margin-bottom: 30px;
border-top: 4px solid var(--secondary);
}
.project-card {
background: white;
border-radius: 1.3rem;
box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
transition: 0.3s;
overflow: hidden;
}
.project-card:hover {
transform: translateY(-5px);
box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}
.section-title {
margin-bottom: 1.5rem;
color: var(--primary);
font-size: 1.5rem;
position: relative;
padding-bottom: 10px;
}
.section-title::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 60px;
height: 3px;
background: var(--secondary);
border-radius: 2px;
}