    .gallery-top img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.gallery-thumbs img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.gallery-thumbs .swiper-slide-thumb-active img {
    opacity: 1;
    border: 2px solid var(--secondary);
}
