
    Описание:
=================

Тёплый контур - Р
Готовые коммуникации - Р
Заезжай и живи - Р

В ипотеку - Р/мес
==================
    
    Кнопки:
<Забронировать дом> <Отправить заявку на ипотеку>
=================

    Чистовая отделка
— Ровные стены «под обои»
— Натяжные потолки
 — Тёплые полы

     Готовые коммуникации
— Горячая и холодная вода
— Готовая электрика, щиток,
—выгрибная 
— Отопление
===========================


    Фундамент
— сваино ленточный  «Тимерлайн»
— Диаметр сваи 350 мм, длина 2000 мм
— бетон м200
— плита
— Гидроотсечка
— Ростверк — брус 400 х 600мм
==============================

    Нулевое перекрытие
— монолитная плита14см с стекло арматуры шаг 100
— Обработка битумной мастикой с внешней стороны
================================

    Внутренние перегородки
— Несущие — 20см
— Ненесущие 
================================

    Межэтажное перекрытие
— В редких случаях лаги с утеплителем
====================================

    Кровля
— Стропильная система
— Мембрана
— Профнастил / металлочерепица / клик-фальц
============================

    Фасад
— Панели ппс6 толшина на выбор также облицовка
— Цокольные панели пенофлекс 5см
— Металлические доборные элементы
— Вентиляционные решетки
=================================

    Окна
— Двухкамерный стеклопакет,
— Профиль 58-й, цвет белый, фурнитура 
=============================

    Входная дверь
— Дверь с терморазрывом
============================

    Электрика
— Кабель ВВГ-Пнг ГОСТ
— Гофро-труба (для прокладки по потолку)
==============================

    Водоснабжение и канализация
— Бурение скважины
— Устройство колодца
— Заведение воды в дом
—закладываем на глубине промерзания
— Глубинный насос
— Гидроаккумулятор с фильтром
— Водонагреватель 100 л
— выгрибная яма
============================

    Вентиляция и отопление
— Зоны с теплыми полами
==============================

    Санузел

— Сантехника
=================================
