{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block hero %}{% endblock %}
{% block features %}{% endblock %}

{% block content %}


<section class="py-5">
  <div class="container">
    <form method="POST" action="{{ url_for('main.add_house') }}" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      <div class="row g-4 align-items-start">
        <!-- Основной текст + поля ввода -->
        <div class="col-lg-8">
          <!-- Название дома -->
          <div class="mb-4">
            <label class="form-label fw-bold" style="font-family: 'Oswald', sans-serif;">Название проекта</label>
            {{ form.title(class="form-control form-control-lg") }}
          </div>

          <!-- Описание -->
          <div class="mb-4">
            <label class="form-label fw-bold" style="font-family: 'Oswald', sans-serif;">Описание</label>
            {{ form.description(class="form-control", rows="4") }}
          </div>
          <!-- Upload Image -->
           <div class="mb-4">
            <label class="form-label fw-bold" style="font-family: 'Oswald', sans-serif;">Загрузка Изображений</label>
            {{ form.images(class="form-control", rows="4", multiple=True) }}
          </div>
        </div>

        <!-- Характеристики -->
        <div class="col-lg-4">
          <div class="card border-0 shadow-sm p-4">
            <h5 class="fw-bold mb-3" style="font-family: 'Oswald', sans-serif;">Характеристики</h5>

            <div class="mb-3">
              <label class="form-label">Площадь (м²)</label>
              {{ form.square(class="form-control") }}
            </div>

            <div class="mb-3">
              <label class="form-label">Площадь участка (м²)</label>
              {{ form.area(class="form-control") }}
            </div>

            <div class="mb-3">
              <label class="form-label">Базовая цена (тёплый контур)</label>
              {{ form.price_base(class="form-control") }}
            </div>

            <div class="mb-3">
              <label class="form-label">Цена с коммуникациями</label>
              {{ form.price_with_communications(class="form-control") }}
            </div>

            <div class="mb-3">
              <label class="form-label">Цена готового дома</label>
              {{ form.price_ready(class="form-control") }}
            </div>

            <div class="mb-3">
              <label class="form-label">Ипотека (в месяц)</label>
              {{ form.mortgage_price_per_month(class="form-control") }}
            </div>
          </div>
        </div>
      </div>

      <!-- Кнопка отправки -->
      <div class="row mt-4">
        <div class="col-12">
          <div class="d-grid">
            {{ form.submit(class="btn btn-success btn-lg") }}
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}

{% block scripts %}{% endblock %}