{% extends 'base.html' %}

{% block navbar %}


<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <div>
                 <a class="navbar-brand" href="{{ url_for('main.index') }}">
            <i class="bi bi-house-gear-fill me-2"></i>КРЕПКИЙ <span>ФУНДАМЕНТ</span>
        </a>
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
    <i class="bi bi-house-check-fill me-2"></i>КРЕПКИЙ <span>ФУНДАМЕНТ</span>
</a>

<a class="navbar-brand" href="{{ url_for('main.index') }}">
    <i class="bi bi-building-fill me-2"></i>КРЕПКИЙ <span>ФУНДАМЕНТ</span>
</a>

<a class="navbar-brand" href="{{ url_for('main.index') }}">
    <i class="bi bi-tools me-2"></i>КРЕПКИЙ <span>ФУНДАМЕНТ</span>
</a>
        </div>
        <div>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
    <i class="bi bi-shield-check me-2"></i>КРЕПКИЙ <span>ФУНДАМЕНТ</span>
</a>

<a class="navbar-brand" href="{{ url_for('main.index') }}">
    <i class="bi bi-diamond-fill me-2"></i>КРЕПКИЙ <span>ФУНДАМЕНТ</span>
</a>

<a class="navbar-brand" href="{{ url_for('main.index') }}">
    <i class="bi bi-award-fill me-2"></i>КРЕПКИЙ <span>ФУНДАМЕНТ</span>
</a>
        </div>

        <div>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
    <i class="bi bi-stars me-2"></i>КРЕПКИЙ <span>ФУНДАМЕНТ</span>
</a>

<a class="navbar-brand" href="{{ url_for('main.index') }}">
    <i class="bi bi-rocket-takeoff-fill me-2"></i>КРЕПКИЙ <span>ФУНДАМЕНТ</span>
</a>

<a class="navbar-brand" href="{{ url_for('main.index') }}">
    <i class="bi bi-lightning-charge-fill me-2"></i>КРЕПКИЙ <span>ФУНДАМЕНТ</span>
</a>
        </div>

        <div>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
    <i class="bi bi-house-heart-fill me-2"></i>КРЕПКИЙ <span>ФУНДАМЕНТ</span>
</a>

<a class="navbar-brand" href="{{ url_for('main.index') }}">
    <i class="bi bi-building-lock me-2"></i>КРЕПКИЙ <span>ФУНДАМЕНТ</span>
</a>
        </div>
   
        
        </div>
    </div>
</nav>




{% endblock %}