{% extends 'base.html' %}

{% block title %}Крепкий Фундамент{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/hero.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/features.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/contacts.css') }}">
{% endblock %}


{# <!--======= Commented block-=========->
<!-- NAVBAR -->
{% block navbar %} 
{% endblock %}

<!-- HERO -->
{% block hero %}
{% endblock %}

<!-- FEATURES -->
{% block features %}
{% endblock %}

<!-- PROJECTS -->
{% block projects %}
{% endblock %}

<!-- STATS -->
{% block stats %}
{% endblock %}

<!-- CONTACTS -->
{% block conntacts %}
{% endblock %}

<!-- FOOTER -->
{% block footer %}
{% endblock %}    
    
#}
<!--=======================================-->
